/* You can add global styles to this file, and also import other style files */

body {
    background-color: #EAE7DC; 
    font-family: 'Lato', sans-serif !important;
}

.centered {
    text-align: center;
    padding: 200px 300px;
}

h1 {
    font-size: 80px;
}
